[submodule "drafts/models"]
	path = drafts/models
	url = https://github.com/tensorflow/models.git
[submodule "drafts/keras_yolo3"]
	path = drafts/keras_yolo3
	url = git@github.com:edurenye/keras-yolo3.git
[submodule "yolov3-tf2"]
	path = yolov3-tf2
	url = git@github.com:edurenye/yolov3-tf2.git
[submodule "yolov5"]
	path = yolov5
	url = git@github.com:edurenye/yolov5.git
